#report th{
    font-size: 14px !important;
}

.js-cookie-consent.cookie-consent {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
    text-align: center;
    color: #333333;
    border-top: 1px solid #FF643B;
    padding: 10px;
}

button.js-cookie-consent-agree.cookie-consent__agree {
    background: #FF643B;
    color: white;
    border: 1px solid #FF643B;
    margin-left: 10px;
}
